<launch>
  <node name="rep1" pkg="topic_tools" type="relay" args="/lower_cam/image_raw /rss/low_video" />
  <node name="rep2" pkg="topic_tools" type="relay" args="/upper_cam/image_raw /rss/high_video" />
  
  <node name="guiVision" pkg="rosjava_pkg" type="vision-execute" args="vision.VisualServo" output="screen" />
  <node name="gui" pkg="rosjava_pkg" type="state_machine-execute" args="gui.MapGUI" output="screen" />
  <node name="high" pkg="rosjava_pkg" type="state_machine-execute" args="StateMachine.StateMachine" />
  <node name="mtn" pkg="rosjava_pkg" type="motion-execute" args="motion.Listener" />
  <node name="sense" pkg="rosjava_pkg" type="sensing-execute" args="Publisher" />
  <node name="odo" pkg="rosjava_pkg" type="odometry-execute" args="odometry.Odometry" />
  <node name="path" pkg="rosjava_pkg" type="path_planning-execute" args="path_planning.PlannerNode" output="screen" />
  <node name="loc" pkg="rosjava_pkg" type="localization-execute" args="localization.Localization" >
    <param name="/mapFileName" value="$(find rosjava_pkg)/maps/global-nav-maze-2011-basic.map" />
  </node>
  <node name="vid1" pkg="gscam" type="gscam">
    <param name="gscam_config" value="v4l2src device=/dev/video1 ! video/x-raw-rgb, width=160, height=120 ! ffmpegcolorspace" />
    <remap from="camera/image_raw" to="lower_cam/image_raw" />
  </node>
  
  <node name="vid2" pkg="gscam" type="gscam">
    <param name="gscam_config" value="v4l2src device=/dev/video0 ! video/x-raw-rgb, width=160, height=120 ! ffmpegcolorspace" />
    <remap from="camera/image_raw" to="upper_cam/image_raw" />
  </node>
</launch>
